# Windows
Thumbs.db
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual environments
venv/
.env

# server security
certs/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Temporary files
*.tmp
