<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h4>  * WELCOME * Explore our wide range of music instruments and manage your shopping cart and account ! </h4>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                     <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('mainmenu.mainmenu') }}">Store Main Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart.add_to_cart')}}">Add to Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart.update_cart')}}">Udate Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart.delete_from_cart')}}">Remove from Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart.finalize_purchase_route')}}">Finalize Purchase</a><li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer.customer_dashboard') }}">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart_header.shoppingcart_header_list')}}">
                    List Shoppingcarts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer.login_customer') }}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <p></p>
    </main>
    <div class="flash-messages"></div>
     {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
             {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">{{ message }}</div>
             {% endfor %}
         {% endif %}
     {% endwith %}
    </div>
 <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <footer class="text-center mt-4">
        <p>© Music Store 2024</p>
    </footer>
</body>
</html>
