<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    <!-- Include Bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <title>Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <!-- Content Security Policy -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src
    'self' https://stackpath.bootstrapcdn.com; style-src 'self' https://stackpath.
    bootstrapcdn.com https://cdn.datatables.net;">
</head>
<body>
    <header>
        <h5>* Customer Login *</h5>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Music Store</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('mainmenu.mainmenu') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register_customer.register_customer') }}
                    ">Register customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.login_customer') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.logout_customer') }}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.customer_dashboard') }}">Customerdashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.manager_dashboard') }}">Shopping Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register_manager.register_manager') }}">Registermanager</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.login_manager') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.logout_manager') }}">Logout</a></li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a>
            </ul>
        </nav>
        <p></p>
    </header>
    <main>
        <h6>Enter your username and password to login as a customer and start shopping.</h6>
        <p></p>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="customerName">Username:</label>
            <input type="text" id="custoName" name="custoName" required>
            <label for="customerPssw">Password:</label>
            <input type="password" id="custoPassw" name="custoPassw" required>
            <button type="submit">Login</button>
        </form>
    </main>
    <div class="flash-messages"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Include jQuery and DataTables scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#userTable').DataTable();
        });
    </script>
    <footer>
        <p></p>
        <p>© 2024 Music Store</p>
    </footer>
</body>
</html>
