<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Store Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h4> * Manager Dashboard* </h4>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for<li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('mainmenu.mainmenu') }}">Store Main Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer_navbar.customer_navbar') }}">Customer Main Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.manager_dashboard') }}">Manager Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.login_manager') }}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <p></p>
    </main>
    <div class="flash-messages"></div>
     {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
             {% for category, message in messages %}
                 <div class="alert alert-{{ category }}">{{ message }}</div>
             {% endfor %}
         {% endif %}
     {% endwith %}
    </div>
 <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <footer class="text-center mt-4">
        <p>© Music Store 2024</p>
    </footer>
</body>
</html>
