<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h4>* Manager Dashboard *</h4>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('mainmenu.mainmenu') }}">Store Main Menu</</li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer_mainmenu.customer_mainmenu') }}">Customer Main Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('store_manager.manager_dashboard') }}">Manager Dashboard</a></li>
                </ul>
            </div>
        </nav>
        <p></p>
    </header>
    <main class="container mt-4">
        <section id="Customer account, which manager is using.">
            <h4> This Customer account is used by the Store Manager (e.g. for testing)</h4>
        </section>
        <section id="account-details">
            <h5>Account Details</h5>
            <p>ID: {{ manager_id }}, Name: {{ manager_name }}, Store: {{ store_name }}</p>
            <p></p>
        </section>
        <section id="shopping-carts">
            <a href="{{ url_for
            ('shoppingcart_header.shoppingcart_header_list') }}"
            class="btn btn-primary">Manager Shoppingcart</a>
            <a href="{{ url_for
            ('shoppingcart.cart_contents') }}"
            class="btn btn-primary">View Cart Contents</a>
            <h4>Sales Reporting</h4>
            <div>
                <a href="{{ url_for
                ('store_manager.report', report_name='sales_per_product_group') }}">
                <button>Sales per Product Group</button></a>
                <a href="{{ url_for
                ('store_manager.report', report_name='campaign_sales') }}">
                <button>Campaign Sales</button></a>
                <a href="{{ url_for
                ('store_manager.report', report_name='sales_per_product') }}">
                <button>Sales per Product</button></a>
            </div>
            <h4>Basic Listing</h4>
            <div>
                <a href="{{ url_for
                ('store_manager.listing',listing_name='shoppingcart') }} ">
                <button>ShoppingcartsList</button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='customer') }}">
                <button>CustomerList</button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='productgroup') }}">
                <button>ProductgroupList </button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='product') }}">
                <button>ProductList</button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='store') }}">
                <button>StoreList</button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='productimage') }}">
                <button>ProductImages</button></a>
                <a href="{{ url_for
                ('store_manager.listing', listing_name='shoppingcartproduct') }} ">
                <button>ShoppinCart ProductList</button></a>
            </div>
        </section>
    </main>
    <footer class="text-center mt-4">
        <p>© 2024 Music Store</p>
    </footer>
</body>
</html>
