<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h5>* Customer Dashboard *</h5>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Music Store</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('mainmenu.mainmenu') }}">Home</</li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register_customer.register_customer') }}">Register customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.login_customer') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.logout_customer') }}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.customer_dashboard') }}">Customer dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.manager_dashboard') }}">Shopping Cart</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register_manager.register_manager') }}">Register manager</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.login_manager') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.logout_manager') }}">Logout</a></li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a>
            </ul>
        </nav>
        <p></p>
    </header>
    <main class="container mt-4">
        <section id="account-details">
            <h6>Account details</h6>
            <p>custoID: {{ custo_id }}</p>
            <p>Name: {{ custo_name }}</p>
        </section>
        <section id="customer-kpis">
            <h6>Customer KPIs</h6>
                <div class="kpis">
                    <p>Total SUM: {{ sales }}</p>
                    <p>Total DISCOUNT: {{ discount }}</p>
                    <p>Total VAT: {{ vat }}</p>
                </div>
        </section>
        <section id="shopping-carts">
            <h2>Shopping Carts</h2>
            <a href="{{ url_for('customer.shoppingcarts', customer_id=custo_id) }}" class="btn btn-primary">View Shopping Carts</a>
        </section>
    </main>
    <footer class="text-center mt-4">
        <p>© 2024 Music Store</p>
    </footer>
</body>
</html>
