<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Reporting }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body>
    <h4>* Reporting *</h4>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('mainmenu.mainmenu') }}">Store menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register_customer.register_customer') }}
                    ">Register customer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer.login_customer') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('customer.logout_customer') }}">Logout</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart_header.shoppingcart_header_list') }}">
                    Shoppingcarts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('shoppingcart.cart_contents')}}">Cart Contents</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('store_manager.manager_dashboard') }}
                    ">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for
                    ('store_manager.report', report_name=customer) }}"
                    >Sales reports</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for
                    ('store_manager.listing', listing_name=product) }}"
                    >Basic listings</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for
                    ('store_manager.logout_manager') }}"
                    >Logout</a></li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a>
            </ul>
        </nav>
        <p></p>
    </header>
    <main class="container mt-4">
        <h4>{{ report_name }}</h4>
        <table class="table table-striped" id="reportTable">
            <thead>
                <tr>
                    {% for column in column_names %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in report_data %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('store_manager.manager_dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
    </main>
    <footer class="text-center mt-4">
        <p>© 2024 Music Store</p>
    </footer>
    <script>
        $(document).ready(function() {
            $('#reportTable').DataTable();
        });
    </script>
</body>
</html>
