{% extends "base.html" %}

{% block title %}View Shopping Cart{% endblock %}

{% block content %}
<div id="cartContents">
    <h4>Shopping Cart Contents</h4>
    <table id="cartContentsTable" class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Details</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_contents %}
            <tr>
                <td>{{ item[1] }}</td> <!-- scp.product_id -->
                <td>{{ item[4] }}</td> <!-- p.productName -->
                <td>{{ item[5] }}</td> <!-- p.productDetails -->
                <td>{{ item[6] }}</td> <!-- p.productSalesPrice -->
                <td>{{ item[2] }}</td> <!-- scp.quantity -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
