{% extends "base.html" %}

{% block title %}Create Cart{% endblock %}

{% block content %}
<h4>Create a New Cart</h4>
<form method="post" action="{{ url_for
    ('shoppingcart_header.shoppingcart_header_create') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        {{ form.cartstore_id.label }} {{ form.cartstore_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cartstatus.label }} {{ form.cartstatus(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cartvat.label }} {{ form.cartvat(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cartdiscount.label }} {{ form.cartdiscount(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.carttotal.label }} {{ form.carttotal(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.carteditedtime.label }} {{ form.carteditedtime(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cartpurchasedtime.label }} {{ form.cartpurchasedtime(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.cartdeliverytime.label }} {{ form.cartdeliverytime(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Create Cart</button>
</form>
{% endblock %}
