<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store manager dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    <h5>* Store manager dashboard *</h5>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Music Store</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('mainmenu.mainmenu') }}">Store menu</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.login_customer') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.logout_customer') }}
                ">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('customer.customer_dashboard') }}">Customer dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('shoppingcart_header.shoppingcart_header_listS') }}">Shopping Cart</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('store_manager.logout_manager') }}">Logout</a></li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a>
        </ul>
    </nav>
    <p></p>
    </header>
    <main>
        <section id="store-details">
            <p>Store Name: {{ store_details[3] }}</p>
            <p>Manager: {{ store_details[1] }}</p>
            <p>Email: {{ store_details[6] }}</p>
            <p>Phone: {{ store_details[5] }}</p>
        </section>
        <section id="product-groups">
            <h2>Product Groups</h2>
            {% for group in product_groups %}
                <div class="product-group">
                    <p>Group Name: {{ group[2] }}</p>
                    <p>Discount: {{ group[3] }}%</p>
                    <p>VAT: {{ group[4] }}%</p>
                </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>© 2024 Music Store</p>
    </footer>
</body>
</html>
